.quote {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--spacing-800);
}

.quote__rating {
  margin-block-end: var(--spacing-400);
}

.quote__star-icon {
  width: 28px;
  height: 28px;
  float: left;
}

.quote__txt {
  margin-block-end: var(--spacing-400);
}

@media (min-width: 768px) {
  .quote {
    margin-block-end: var(--spacing-1000);
  }
}

@media (min-width: 1200px) {
  .quote {
    align-items: center;
    text-align: center;
    margin-block-end: 120px;
  }

  .quote__txt {
    max-width: 39ch;
  }
}